<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>SimpleMap</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=QuIlY0cSaw4hpu6Azq3vt2AsnCESGrtx447GZ90D"></script>
    <script type="text/javascript">
        var map;
        var marker_s, marker_e;
        var drawInfoArr = [];
        var resultdrawArr = [];
        var rectangle;
        var dbCoordinates = [
            // 이곳에 DB에서 가져온 좌표들을 포함하세요.
            { lat: 37.565, lng: 126.988 },
            { lat: 37.566, lng: 126.990 },
            // ... 추가 좌표
        ];

        function initTmap() {
            // 1. 지도 띄우기
            map = new Tmapv2.Map("map_div", {
                center: new Tmapv2.LatLng(37.56520450, 126.98702028),
                width: "100%",
                height: "400px",
                zoom: 17,
                zoomControl: true,
                scrollwheel: true
            });

            // 2. 시작, 도착 심볼찍기
            // 시작
            marker_s = new Tmapv2.Marker({
                position: new Tmapv2.LatLng(37.564991, 126.983937),
                icon: "/upload/tmap/marker/pin_r_m_s.png",
                iconSize: new Tmapv2.Size(24, 38),
                map: map
            });

            // 도착
            marker_e = new Tmapv2.Marker({
                position: new Tmapv2.LatLng(37.566158, 126.988940),
                icon: "/upload/tmap/marker/pin_r_m_e.png",
                iconSize: new Tmapv2.Size(24, 38),
                map: map
            });

            // 3. 최적의 경로 찾기
            findOptimalRoute();
        }

        function findOptimalRoute() {
            var headers = {};
            headers["appKey"] = "QuIlY0cSaw4hpu6Azq3vt2AsnCESGrtx447GZ90D";

            $.ajax({
                method: "POST",
                headers: headers,
                url: "https://apis.openapi.sk.com/tmap/routes/pedestrian?version=1&format=json&callback=result",
                async: false,
                data: {
                    "startX": "126.983937",
                    "startY": "37.564991",
                    "endX": "126.988940",
                    "endY": "37.566158",
                    "reqCoordType": "WGS84GEO",
                    "resCoordType": "EPSG3857",
                    "startName": "출발지",
                    "endName": "도착지"
                },
                success: function (response) {
                    var resultData = response.features;

                    // 결과 출력
                    var tDistance = "총 거리 : " + ((resultData[0].properties.totalDistance) / 1000).toFixed(1) + "km,";
                    var tTime = " 총 시간 : " + ((resultData[0].properties.totalTime) / 60).toFixed(0) + "분";

                    $("#result").text(tDistance + tTime);

                    // 기존 그려진 라인, 폴리곤이 있다면 초기화
                    if (resultdrawArr.length > 0) {
                        for (var i in resultdrawArr) {
                            resultdrawArr[i].setMap(null);
                        }
                        resultdrawArr = [];
                    }

                    // 기존 그려진 사각형이 있다면 초기화
                    if (rectangle) {
                        rectangle.setMap(null);
                    }

                    var drawInfoArr = [];
                    for (var i in resultData) {
                        var geometry = resultData[i].geometry;
                        var properties = resultData[i].properties;
                        var polyline_;

                        if (geometry.type == "LineString") {
                            for (var j in geometry.coordinates) {
                                var latlng = new Tmapv2.Point(geometry.coordinates[j][0], geometry.coordinates[j][1]);
                                var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(latlng);
                                var convertChange = new Tmapv2.LatLng(convertPoint._lat, convertPoint._lng);
                                drawInfoArr.push(convertChange);
                            }
                        } else {
                            var markerImg = "";
                            var pType = "";
                            var size;

                            if (properties.pointType == "S") {
                                markerImg = "/upload/tmap/marker/pin_r_m_s.png";
                                pType = "S";
                                size = new Tmapv2.Size(24, 38);
                            } else if (properties.pointType == "E") {
                                markerImg = "/upload/tmap/marker/pin_r_m_e.png";
                                pType = "E";
                                size = new Tmapv2.Size(24, 38);
                            } else {
                                markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
                                pType = "P";
                                size = new Tmapv2.Size(8, 8);

                                // 좌표가 폴리곤에 포함되면 마커를 추가
                                var coordinate = new Tmapv2.Point(geometry.coordinates[0], geometry.coordinates[1]);
                                var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(coordinate);
                                var convertedLatLng = new Tmapv2.LatLng(convertPoint._lat, convertPoint._lng);

                                if (isPointInside(convertedLatLng, drawInfoArr)) {
                                    addMarkerToMap(convertedLatLng, markerImg, size);
                                }
                            }
                        }
                    }
                    drawLine(drawInfoArr);
                    drawRectangle(drawInfoArr); // 사각형 그리기 함수 호출
                    checkDBData(drawInfoArr); // DB 데이터 확인 함수 호출
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }

        function isPointInside(point, polygonPaths) {
            // Tmap 라이브러리를 사용하거나 직접 구현할 수 있습니다.
            // 결과를 반환하는 함수를 작성하세요.
            // 예시로 간단한 점 내부 판별을 하도록 작성되었습니다.
            return Tmapv2.Geometry.containsLocation(point, polygonPaths);
        }

        function addMarkerToMap(position, icon, size) {
            var marker = new Tmapv2.Marker({
                position: position,
                icon: icon,
                iconSize: size,
                map: map
            });
        }

        function drawLine(arrPoint) {
            var polyline_ = new Tmapv2.Polyline({
                path: arrPoint,
                strokeColor: "#DD0000",
                strokeWeight: 6,
                map: map
            });
            resultdrawArr.push(polyline_);
        }

        function drawRectangle(arrPoint) {
            // 사각형을 감싸는 경계를 만들기 위한 알고리즘 사용
            var bounds = new Tmapv2.LatLngBounds();

            for (var i = 0; i < arrPoint.length; i++) {
                bounds.extend(arrPoint[i]);
            }

            // 경계를 사용하여 사각형 그리기
            rectangle = new Tmapv2.Rectangle({
                bounds: bounds,
                strokeColor: "#0000FF",
                strokeWeight: 2,
                fillColor: "#0000FF",
                fillOpacity: 0.2,
                map: map
            });
        }

        function checkDBData(arrPoint) {
            for (var i = 0; i < dbCoordinates.length; i++) {
                var dbCoordinate = dbCoordinates[i];
                var dbLatLng = new Tmapv2.LatLng(dbCoordinate.lat, dbCoordinate.lng);

                // DB 좌표가 사각형 안에 포함되면 마커 추가
                if (isPointInside(dbLatLng, arrPoint)) {
                    addMarkerToMap(dbLatLng, "http://topopen.tmap.co.kr/imgs/db_marker.png", new Tmapv2.Size(24, 24));
                }
            }
        }
    </script>
</head>
<body onload="initTmap();">
<div id="map_wrap" class="map_wrap3">
    <div id="map_div"></div>
</div>
<div class="map_act_btn_wrap clear_box"></div>
<p id="result"></p>
<br/>
</body>
</html>